<head>
  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<header>
  <div class="main">
    <div class="head">
      <a href="#" routerLink="/"> <p> <i class="fa fa-diamond fa_custom fa-1x"></i> DTECH</p></a>
      <div class="bar">
          <select class="rad">
              <option disabled>Export</option>
              <option><a href="#">CSV</a></option>
              <option><a href="#">PDF</a></option>
              <option><a href="#"> <i class="fa fa-print"></i> Print </a></option>
            </select>
      </div>
    </div>
<header>
    <div class="payslip">
      <div class="heading">
        Payslip for the month of november 2019
      </div>
      <div class="pay">
        PAYSLIP #42356 <br />
        <small>Salary month: November 2019</small>
      </div>
      <div class="add">
        Diamond Technologies <br />
        254 Shomito, Lagos <br />
        Nigeria.
      </div>
      <div class="employee">
          Shoniyitan Rasaq <br>
          Emplyee ID: 1342AB4
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="light">Earnings</div>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="first">Basic Salary</td>
                <td class="edge">$60500</td>
              </tr>
              <tr>
                <td class="first">Dearness Allowance (D.A)</td>
                <td class="edge">$155</td>
              </tr>
              <tr>
                <td class="first">House Rent Allowance (H.R.A)</td>
                <td class="edge">$63</td>
              </tr>
              <tr>
                <td class="first">Conveyance</td>
                <td class="edge">$257</td>
              </tr>
              <tr>
                <td class="first">Allowance</td>
                <td class="edge">$1242</td>
              </tr>
              <tr>
                <td class="first">Medical Allowance</td>
                <td class="edge">$587</td>
              </tr>
              <tr>
                <td class="first">Other Allowance</td>
                <td class="edge">$810</td>
              </tr>
              <tr>
                <td class="first">Total Earning</td>
                <td class="edge">$70435</td>
              </tr>
              <div class="net">
                  Net Salary: $60258
                </div>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <div class="light">Deductions</div>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td  class="first">Tax Deducted Source (T.D.S)</td>
                <td class="edge">20%</td>
              </tr>
              <tr>
                <td  class="first">Provident Fund</td>
                <td class="edge">$0</td>
              </tr>
              <tr>
                <td  class="first">ESI</td>
                <td class="edge">$0</td>
              </tr>
              <tr>
                <td  class="first">Total Deductions</td>
                <td class="edge first">$7800</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
