<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<header>
  <div class="main">
    <div class="head">
      <p>Payslip</p>
      <div class="bar">
        <ul class="menu">
          <li>
            <a href="#">Export</a>
            <ul class="sub">
              <li><a href="#">CSV</a></li>
              <li><a href="#">PDF</a></li>
              <li>
                <a href="#"> <i class="fa fa-print"></i> Print </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="payslip"></div>
  </div>
</header>
