@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.main {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;

.head {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    color: #4F4F4F;
    font-weight: 500;

    a {
        text-decoration: none;
        color: #4F4F4F;
    }
    
    p {
        text-transform: uppercase;
    }

    .bar {
        position: absolute;
        right: 20px;
        top: 1px;

        .rad {
            border-radius: 1rem;
            padding: 0.3rem;
            box-shadow: none;
            border: none;
        }
    }
}

.payslip {
    width: 95%;
    height: 88%;
    top: 50%;
    left: 50%;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: #fff;
    padding: 40px 30px;

    .heading {
        text-align: center;
        text-transform: uppercase;
        color: gray;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }

    .pay {
        color: gray;
        float: right;
    }
}
}

.sub li{
    // position: absolute;
    display: none;
    // opacity: 0;
    // visibility: hidden;
    // z-index: 1;
}

.menu li:hover > .sub{
    z-index: 99;
    display: block;
    // opacity: 1;
    // visibility: visible;
}

.add {
    color: gray;
    font-weight: 500;
}

.employee {
    margin-top: 3px;
    color: gray;
    font-weight: 500;
}

.light {
    font-weight: 700;
    color: gray;
    font-family: 'Open Sans', sans-serif;
}
.edge {
    position: absolute;
    right: 10px;
    color: gray;
}

tbody tr {
    border: 1px solid rgba(199, 197, 197, 0.8) !important;

    .first {
        color: gray;
        font-weight: 600;
    }
}

.net {
    color: gray;
        font-weight: 600;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}


@media screen and (max-width: 420px) {

    .payslip {
        height: 100% !important;
    }
}