@import '../../assets/scss/form';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.sign-up {
    margin-top: -30px;
}

.field {
    height: 505px !important;
    margin: 5px;
}

.wider {
    width: 390px;
}

.btn {
    margin-top: 5px;
}