<head>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<div class="main">
    <div class="head">
        <a href="#" routerLink="/"> <p> <i class="fa fa-diamond fa_custom fa-1x"></i> DTECH</p></a>
    </div>
    <div class="field">
        <div class="container col-md-12">
      <div class="heading">Sign Up</div>
      <form [formGroup]="details" (ngSubmit)="saveUserDetails()">
        <div class=" sign-up row">
          <div class="row">
              <div class="col-md-6">
                  <input
                    type="text"
                    placeholder="First Name"
                    formControlName="firstName"
                    id="firstName"
                  />
                  <div
                    *ngIf="details.get('firstName')?.hasError('required') &&
                      details.get('firstName')?.touched" class="inv">
                    Please enter First Name
                  </div>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    placeholder="Last Name"
                    formControlName="lastName"
                    id="lastName"
                  />
                  <div
                    *ngIf="
                      details.get('lastName')?.hasError('required') &&
                      details.get('lastName')?.touched" class="inv">
                    Please enter Last Name
                  </div>
                </div>
          </div>
          <div class="row">
              <div class=" wider col-md-12">
                  <input
                    id="email"
                    placeholder="Email"
                    type="email"
                    formControlName="email"
                  />
                  <div
                    *ngIf="
                      details.get('email')?.hasError('required') &&
                      details.get('email')?.touched
                    " class="inv">
                    Please enter your Email
                  </div>
                </div>
          </div>
          <div class="row">
              <div class=" wider col-md-12">
                  <input
                    id="phone"
                    type="tel"
                    placeholder="Phone Number"
                    formControlName="phoneNumber"
                  />
                </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <input
                    type="password"
                    placeholder="Password"
                    formControlName="password"
                    id="password"
                  />
                  <div
                    *ngIf="
                      details.get('password')?.hasError('required') &&
                      details.get('password')?.touched
                    " class="inv">
                    Password is required
                  </div>
                </div>
                <div class="col-md-6">
                    <input
                      type="password"
                      placeholder=" Confirm Password"
                      formControlName="confirmPassword"
                      id="confirmPassword"
                    />
                    <div
                      *ngIf="
                        details.get('confirmPassword')?.hasError('required') &&
                        details.get('confirmPassword')?.touched
                      " class="inv">
                      Password confirmation is required
                    </div>
                  </div>
          </div>
        </div>
        <div class="btn">
            <button class="btn btn-primary" routerLink="/sign-in" [disabled]="!details.valid">
                  Register
            </button>
          </div>
          <div class="exist">
              <p>Already have an account? <a href="#" target="_blank" routerLink="/sign-in">Login</a></p>
            </div>
      </form>
    </div>
  </div>
  
</div>