@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.main {
    background: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../../assets/images/helloquence-5fNmWej4tAA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    .navbar .navbar-brand {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        margin-right: 5%;
        font-weight: 600;
    }

    .navbar-nav a {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: #fff;
        margin: 2%;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 600;
    }

    .navbar-toggler {
        color: #fff;
    }

    .log a {
        height: 40px;
        width: 160px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        background-color: #fccb82;
        text-align: center;
        border-radius: 5rem;
        margin-top: 10px;
        margin-right: 10px;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: initial;
    }

    .text{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: 'Open Sans', sans-serif;
        transform: translate(-50%, -50%);
        color: #eee;
        text-align: center;

        h1{
            font-size: 4rem;
            margin: 2rem 0;
        }

        h2{
            font-size: 1.6rem;
            text-transform: uppercase;
            font-weight: 400;
        }

        p{
            font-size: 1.6rem;
            margin-bottom: 5rem;
        }

        .learn {
            white-space: nowrap;
            padding: 0.8em;
            display: inline-block;
            background-color: #fccb82;
            border-radius: 5rem;
            padding-left: 3rem;
            padding-right: 3rem;


            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.2rem;
                font-weight: 600;
                font-family: 'Open Sans', sans-serif;
                text-transform: uppercase;
                line-height: initial;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .navbar-nav {
        position: fixed;
        right: 0;
        height: 100vh;
        flex-direction: column;
        background-color: #8d8a8a;
        z-index: 1000;
        align-items: initial;
        overflow-y: scroll;
    }

    .log a {
        margin-left: 20px !important;
    }
}

@media screen and (min-width: 994px), (max-width: 1264px) {}